.text-input-field {
    height: 50px !important;
}

.dropdown-menu.dropdown-menu-end li:first-child button {
    border-color: #3779EB !important;
}

textarea, .dropdown-toggle-split{
    border: 1px solid #d7d7d7;
}

.remaning{
    margin-top: 5px;
    color: #9f9f9f;
    font-size: 12px;
}

.row textarea {
    padding: 10px;
    font-size: 1rem;
}