<div class="main-container">
  <span>Description</span>
  <div class="header">
    <div class="d-flex flex-row" style="width: 200px;">
      <mat-icon (click)="onBoldSelecttion()" [ngStyle]="{'color': boldField ? 'darkgreen' : '' }"> format_bold</mat-icon>
      <mat-icon (click)="onUnderlineSelection()" [ngStyle]="{'color': underlineField ? 'darkgreen' : '' }"> format_underlined</mat-icon>
      <mat-icon (click)="onLinkSelection()" [ngStyle]="{'color': linkField ? 'darkgreen' : '' }"> insert_link</mat-icon>
      <mat-icon (click)="onBulletSelecttion()" [ngStyle]="{'color': bulletField ? 'darkgreen' : '' }"> format_list_bulleted</mat-icon>
      <mat-icon (click)="onNumberBulletSelecttion()" [ngStyle]="{'color': numberBulletField ? 'darkgreen' : '' }"> format_list_numbered</mat-icon>
    </div>

    <div class="dropdown">
      <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
      @if (langField === 'en') {
        <img src="../../assets/icons/english.png" alt="">
      }
      @else {
        <img src="../../assets/icons/arabic.png" alt="">
      }
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <button class="btn w-100" (click)="onLangSelection('en')">
          <img src="../../assets/icons/english.png" alt="">
        </button>
      </li>
      <li>
        <button class="btn w-100" (click)="onLangSelection('ar')">
          <img src="../../assets/icons/arabic.png" alt="">
        </button>
      </li>
    </ul>
    </div>
  </div>

  <editor-root [langField]="langField" [boldField]="boldField" [underlineField]="underlineField"></editor-root>
</div>